!!!
%html
  %head
    %title ChatworkGcalTask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav
        - if user_signed_in?
          = "Logged in as " + current_user.name
          = link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Log In with Google", user_omniauth_authorize_path(:google_oauth2)
    %p.notice= notice
    %p.alert= alert
    = yield
